<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completion | Conglaturations!</title>
    <link rel="stylesheet" href="/styles.css"> <!-- link to stylesheet -->
</head>
<body>
    <div class="topBar"><!-- top bar/header -->
        <h1>Welcome to the JMath Competition!</h1>
        <p>Feel free to test your might with completely random math questions.</p>
        <p>Choose between the few (two) options below, select to view the leaderboards or attempt a math question yourself.</p>
        <div class="navBar">
            <a href="/quiz" class="button">Begin Trials</a>
            <a href="/leaderboards" class="button">View the Leaderboard</a>
        </div>
    </div>
    <div class="center"><!-- main body -->
        <h2>Your Results</h2>
        <p>Your current streak: <%= streak %></p>
        <p>Your longest win streak: <%= winStreak %></p>
        <a href="/quiz">Continue?</a>
    </div>
    <footer>
    </div>
        <div class="bottomBar"><!-- bottom bar/footer -->
            <p>all rights reserved, JBean© & Co. 2024 | We love QAP's</p>
            <p>this'll remain consistent on all pages, I just love html tbh</p>
        </div>
    </footer>
</body>
</html>
