<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMath Competition | 9 + 10 = 21</title>
    <link rel="stylesheet" href="/styles.css"> <!-- link to stylesheet -->
</head>
<body>
    <div class="topBar"><!-- top bar/header -->
        <h1>Welcome to the JMath Competition!</h1>
        <p>Feel free to test your might with completely random math questions.</p>
        <p>Choose between the few (two) options below, select to view the leaderboards or attempt a math question yourself.</p>
        <p>To return back to the home page, simply click the back arrow in the top left (couldn't figure out why home link wasn't working :c)</p>
        <div class="navBar">
            <a href="/quiz">Begin Trials</a>
            <a href="/leaderboards">View the Leaderboard</a>
        </div>
    </div>
    <div class="center"><!-- main body -->
        <h1>Your last streak: <%= streak %></h1>
        <h1>Your current win streak: <%=winStreak %></h1>
    <footer>
    </div>
        <div class="bottomBar"><!-- bottom bar/footer -->
            <p>all rights reserved, JBean© & Co. 2024 | We love QAP's</p>
            <p>this'll remain consistent on all pages, I just love html tbh</p>
        </div>
    </footer>
</body>
</html>
