<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | 🔥 Good night, good luck 🔥</title>
    <link rel="stylesheet" href="/styles.css"> <!-- link to stylesheet -->
</head>
<body>
    <div class="topBar"><!-- top bar/header -->
        <h1>It's time for the Quiz!</h1>
        <p>yay.</p>
        <h3>How long can <i>you</i> persist? Begin, or scurry back to the leaderboards.</h3>
        <div class="navBar">
            <a href="/leaderboards" class="button">View the Leaderboard</a>
        </div>
    </div>
    <div class="center"><!-- main body -->
        <h2>QUESTION TIME!!</h2>
        <p><%= question %></p>
        <form action="/quiz" method="POST">
            <input type="hidden" name="correctAnswer" value="<%= answer %>">
            <input type="text" name="answer" required placeholder="Your answer">
            <button type="submit">Submit Score</button>
        </form>
    </div>
    <footer>
    </div>
        <div class="bottomBar"><!-- bottom bar/footer -->
            <p>all rights reserved, JBean© & Co. 2024 | We love QAP's</p>
            <p>this'll remain consistent on all pages, I just love html tbh</p>
        </div>
    </footer>
</body>
</html>
