<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Specials!</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <!-- MAIN BODY-->
    <main class="main-content">
        <h1>Our specialty of the day is...</h1>
        <p>wait for it...</p>
        <div class="lil-btn">
            <a href="/index" class="cute-ass-button">Home</a>
        </div>
        <div class="restaurant-descriptions">
            <!-- BOTTOM SECTION (LARGELY USELESS) -->
            <hr />
            <p>For more information, or if you have any questions/concerns please reach out to:</p>
            <p>Email: jjbeanland@info.ca</p>
            <p>(M): +1(709)649-2913</p>
            <p>(W): +1(800)649-3333</p>
            <p>or better yet, please don't we're bankrupt</p>
            <hr />        
        </div>
    </main>    
</body>
</html>
