<!-- this is just the base page of this project, so you will be brought here upon either running npm start for the first time or by logging out of an account -->
<%- include('partials/header', { title: "Home" }) %>
    <h1>Authentication Practice</h1>
    <span class="index-button-container">
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Sign Up</button>
    </span>
    <h2>the purpose of this is to test a user authentication system!</h2>
    <h3>first try logging in with both a user and admin account.</h3>
    <p>i really don't have anything else to put here, hi matt</p>
<%- include('partials/footer') %>
