<!-- a page dedicated towards logging in, very basic; just provides two options to enter an email and password. (don't get it wrong too much or else) -->
<%- include('partials/header', { title: "Login" }) %>
<h1>Login</h1>
<h3>Make sure to write down your password!</h3>
<br />
<% if (error) { %>
    <div class="error"><%= error %></div>
<% } %>
<form action="/login" method="POST">
    <div class="form-input-container">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="form-input-container">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<p><a href="/">Go back</a></p>
<%- include('partials/footer') %>



